@import url('https://cdn.syncfusion.com/ej2/material.css');

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}

.cartoon {
  background-image: url('../assets/heroPatterrn.jpg');
  background-size: contain;
  
}

.landingPhoto {
  width: 50%;
  height: 100vh;
}

.logo {
  font-weight: 700;
  font-size: 35px;
  color: lightgray;
  position: absolute;
  top: 30px;
  left: 50px;
}

.greeting, .welcome, .border-bottom {
  position: absolute;
}

.greeting {
  top: 220px;
  color: lightgray;
  font-size: 30px;
  font-weight: 400;
}

.welcome {
  font-weight: 700;
  font-size: 65px;
  top: 255px;
  color: lightgray;
}

.border-bottom {
  top: 355px;
  left: 295px;
  height: 8px;
  width: 70px;
  border-radius: 10px;
  background-color: lightgray;
}

.login {
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  border: 10px solid rgb(38, 156, 202);
}

.loginHeader {
  font-size: 35px;
  font-weight: 600;
  color: #497cf3;
  text-align: center;
  position: relative;
  top: 170px;
}

.form {
  width: 70%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: auto;
  position: relative;
  top: 180px;
}

.email, .password {
  border-left: 3px solid #497cf3;
  width: 100%;
  background-color: aliceblue;
  height: 50px;
  padding-left: 20px;
  font-weight: 600;
  color: rgb(192, 191, 191);
  border-radius: 5px;
}

.loginButton {
  width: 100%;
  height: 50px;
  color: white;
  border-radius: 30px;
  font-size: 22px;
  font-weight: 700;
}

.wrongData {
  color: #497cf3;
  font-weight: 600;
}

.toggleLogin {
  width: 120px;
  height: 40px;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 480px;
  right: 270px;
  cursor: pointer;
  z-index: 111;
}
button {
  cursor: pointer;
}

#register {
  height: 250px;
}